    <div class="row" style="padding-top: 8px;">
        <div class="col-xs-6">
            <p id="img_desc" class="small" style="vertical-align: center"></p>
        </div>
        <div class="col-xs-6">
            <div class="pull-right">
                <button id="btn_first" class="btn btn-default btn-xs" value="First"><span class="glyphicon glyphicon-fast-backward"/></button>
                <button id="btn_prev" class="btn btn-default btn-xs" value="Previous"><span class="glyphicon glyphicon-backward"/></button>
                <button id="btn_next" class="btn btn-default btn-xs" value="Next"><span class="glyphicon glyphicon-forward"/></button>
                <button id="btn_last" class="btn btn-default btn-xs" value="Last"><span class="glyphicon glyphicon-fast-forward"/></button>
                &nbsp;
                <button id="btn_play" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-play"/></button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="img_div">
    {% with first_img=snaps|first %}
                <img id="cur_img" src="{{ STATIC_URL }}img/webcam/{% if s.img_path %}{{ s.img_path }}/{% endif %}{{ first_img.img_name }}" title="{{ first_img.ts_create|date:"M j, Y h:iA" }}" alt="{{ first_img.ts_create|date:"M j, Y h:iA" }}" class="img-responsive"/>
    {% endwith %}
            </div>
            <div id="hidden_img_div" style="display: none">
    {% for s in snaps %}
                <img id="img_{{ forloop.counter0 }}" src="{{ STATIC_URL }}img/webcam/{% if s.img_path %}{{ s.img_path }}/{% endif %}{{ s.img_name }}" title="{{ s.ts_create|date:"M j, Y h:iA" }}" alt="{{ s.ts_create|date:"M j, Y h:iA" }}"/>
    {% endfor %}
            </div>
        </div>
    </div>

<script type="text/javascript">
    var curIndex = 0;
    var curTimer = 0;
    var curLen = {{ snaps.count }};
    var nLoaded = 0;
    var isPlaying = false;
    var lastImgId = "img_" + ({{ curLen }}-1);

    function cnclTimer() {
        if (curTimer != 0) {
            clearTimeout(curTimer);
            curTimer = 0;
        }
    }

    function firstImg() {
        curIndex = 0;
        showImg();
    }

    function prevImg() {
        if (curIndex == 0)
            return;
        curIndex = curIndex-1;
        showImg();
    }

    function nextImg() {
        if (curIndex == curLen-1) {
            if (isPlaying) {
                isPlaying = false;
                showImg();
            }
            return;
        }
        curIndex = curIndex + 1;
        showImg();
    }

    function lastImg() {
        if (curIndex == curLen-1)
            return;
        curIndex = curLen-1;
        showImg();
    }


    function showImg() {
        cnclTimer();
        updateUi();
        var sel = "#img_" + curIndex;
        console.log('showImg ' + sel);
        var selImg = $(sel);
        if (selImg == null) {
            return;
        }
        var t = selImg.attr('title');
        var s = selImg.attr('src');
        $("#img_desc").html(t);
        var curImg = $("#cur_img");
        curImg.attr('alt', t);
        curImg.attr('title', t);
        curImg.attr('src', s);
        if (isPlaying)
            curTimer = setTimeout(nextImg, 500);
    }

    function enableBtn(nm, e) {
        var ele = $("#"+nm);
        if (ele == null)
            return;
        ele.removeAttr('disabled');
        if (!e) {
            ele.attr('disabled', 'disabled');
        }
    }

    function updateUi() {
{#        console.log('updateUi ' + curLen + ", " + curIndex);#}
        var e = (!isPlaying && curLen > 0 && nLoaded == curLen);
        enableBtn("btn_first", e && curIndex > 0);
        enableBtn("btn_prev", e && curIndex > 0);
        enableBtn("btn_next", e && curIndex < curLen-1);
        enableBtn("btn_last", e && curIndex < curLen-1);

        $("#btn_play").html(isPlaying ? '<span class="glyphicon glyphicon-pause"/>' : '<span class="glyphicon glyphicon-play"/>');
        enableBtn("btn_play", nLoaded == curLen && curLen > 0);
    }

    $(document).ready(function() {
        $("#hidden_img_div img").load(function() {
            if (isPlaying)
                return;
{#            nLoaded = nLoaded + 1;#}
            var id = $(this).attr('id')
            console.log("loaded " + id);
            if (id == lastImgId) {
                updateUi();
            }
        });
        $("#btn_first").click(function(evt) {
            evt.preventDefault();
            firstImg();
        });
        $("#btn_prev").click(function(evt) {
            evt.preventDefault();
            prevImg();
        });
        $("#btn_next").click(function(evt) {
            evt.preventDefault();
            nextImg();
        });
        $("#btn_last").click(function(evt) {
            evt.preventDefault();
            lastImg();
        });

        $("#btn_play").click(function(evt) {
            evt.preventDefault();
            console.log('play clicked');
            isPlaying = !isPlaying;
            updateUi();
            if (isPlaying) {
                if (curIndex == curLen-1) {
                    curIndex = 0;
                }
                showImg();
            }
            else
                cnclTimer();
        });
    });
    showImg();
</script>