{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ page_title }} <span class="small">{{ which_date|date:"M j, Y" }}</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked">
    {% for sbh in snaps_by_hour %}
        {% with cnt=sbh.snaps.count %}
            <li id="hour_{{ sbh.hour|date:"H" }}" class="nav-hour" {% if cnt == 0 %}style="display: none"{% endif %}><a href="#">{{ sbh.hour|date:"h A" }} <span class="badge">{{ cnt }}</span></a></li>
        {% endwith %}
    {% endfor %}
        </ul>
        </div>
        <div class="col-sm-10">
            <div id="img_div">
                <img id="cur_img" src="" class="img-responsive"/>
            </div>
{% comment %}
    {% for sbh in snaps_by_hour %}
        {% with cnt=sbh.snaps.count %}
            {% if cnt == 0 %}
            {% else %}
                <div id="snaps_{{ sbh.hour|date:"H" }}" style="display: none">
                {% for s in sbh.snaps %}
                    <div style="height: 200px; width: 200px; padding: 4px; float:left">
                        <a href="{{ STATIC_URL }}img/webcam/{{ s.img_name }}"><img src="{{ STATIC_URL }}img/webcam/{{ s.img_name }}" title="{{ s.ts_create|date:"h:iA" }}" alt="{{ s.ts_create|date:"h:iA" }}" class="img-responsive"/></a>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    {% endfor %}
{% endcomment %}
        </div>
    </div>

{% endblock content %}

{% block extra_css %}
    {{ block.super }}
    <style type="text/css">

    </style>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        var prevDivId = null;
        var imgDict = {};
        var curImgs = null;
        var curIndex = 0;
        var curTimer = 0;

    {% for sbh in snaps_by_hour %}
        {% with cnt=sbh.snaps.count %}
            imgDict["hour_{{ sbh.hour|date:"H" }}"] = []
            {% if cnt == 0 %}
            {% else %}
                {% for s in sbh.snaps %}
                    imgDict["hour_{{ sbh.hour|date:"H" }}"].push("{{ s.img_name }}");
                {% endfor %}
            {% endif %}
        {% endwith %}
        if (curImgs == null && imgDict["hour_{{ sbh.hour|date:"H" }}"].length > 0)
            curImgs = imgDict["hour_{{ sbh.hour|date:"H" }}"];
    {% endfor %}

        function start_show() {
            if (curTimer != 0) {
                clearTimeout(curTimer);
                curTimer = 0;
            }
            curIndex = 0;
            next_image();
        }

        function next_image() {
            if (curImgs == null)
                return;
            var n = curImgs.length;
            if (curIndex >= n)
                curIndex = 0;
            var nm = "{{ STATIC_URL }}img/webcam/" + curImgs[curIndex];
            $("#cur_img").attr('src', nm);
            curIndex = curIndex + 1;
            curTimer = setTimeout(next_image, 1000);
        }
    </script>
{% endblock %}

{% block jquery_on_doc_ready %}
    prevDivId = null;
    $(".nav-hour").click(function(evt) {
        evt.preventDefault();
        var id = $(this).attr('id');
        curImgs = imgDict[id];
        start_show();
/*
        if (id.indexOf("hour_" >= 0))
            id = id.substring(5);
        var divid = "snaps_" + id;
        if (prevDivId != null) {
            $("#"+prevDivId).hide();
        }
        prevDivId = divid;
        $("#"+divid).show();
*/
    });
{% endblock %}