{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <div class="" style="padding-top: 16px;">
    {% if prev_date %}
                <a href="{% url 'adil' webcam.slug prev_date.year|stringformat:"04d" prev_date.month|stringformat:"02d" prev_date.day|stringformat:"02d" %}" class=""><span class="glyphicon glyphicon-chevron-left"></span> {{ prev_date|date:"M j" }}</a>
    {% endif %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="center-block">
            <h3>{{ webcam.name }} <span class="small"><a href="{% url 'wc_month' webcam.slug which_date.year|stringformat:"04d" which_date.month|stringformat:"02d" %}" class="">{{ which_date|date:"M" }}</a> {{ which_date|date:"j, Y" }}</span></h3>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="pull-right" style="padding-top: 16px; padding-right: 0px;">
    {% if next_date %}
                <a href="{% url 'adil' webcam.slug next_date.year|stringformat:"04d" next_date.month|stringformat:"02d" next_date.day|stringformat:"02d" %}" class="">{{ next_date|date:"M j" }} <span class="glyphicon glyphicon-chevron-right"></span></a>
    {% endif %}
            </div>
        </div>
    </div>
    
{% comment %}
    <div class="row">
        <div class="col-sm-6">
            <h3>{{ page_title }} <span class="small">{{ which_date|date:"M j, Y" }}</span></h3>
        </div>
        <div class="col-sm-6">
            <div class="pull-right">
            </div>
        </div>
    </div>
{% endcomment %}

    <div class="row">
        <div class="col-sm-12">
            <div role="navigation">
                <ul id="nav_list" class="nav nav-pills">
    {% for sbh in snaps_by_hour %}
        {% with cnt=sbh.snaps|length %}
                    <li id="hour_{{ sbh.hour|date:"H" }}" role="presentation" class="nav-hour" {% if cnt == 0 %}style="display: none"{% endif %}><a href="#">{{ sbh.hour|date:"g A" }}</a></li>
        {% endwith %}
    {% empty %}
        <li>No images were captured today</li>
    {% endfor %}
                </ul>
            </div>
            <div class="pull-right">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="img_div">
            </div>
        </div>
    </div>

{% endblock content %}

{% block extra_css %}
    {{ block.super }}
    <style type="text/css">

    </style>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        function on_hour_loaded(resp) {
            $("#img_div").html(resp);
        }
    </script>
{% endblock %}

{% block jquery_on_doc_ready %}
    $(".nav-hour").click(function(evt) {
        evt.preventDefault();
        $(".nav-hour").removeClass('active');
        $(this).addClass('active');
        var id = $(this).attr('id');
        if (id.indexOf("hour_" >= 0)) {
            var hr = id.substring(5);
            var url = "/webcam/{{ webcam.slug }}/{{ which_date.year|stringformat:"04d" }}/{{ which_date.month|stringformat:"02d" }}/{{ which_date.day|stringformat:"02d"  }}/" + hr + "/";
            ajax_get_html(url, on_hour_loaded, null);
        }
    });
    $("#nav_list").find('li:visible:last').click();
{% endblock %}