{% extends 'base.html' %}

{% block extra_js %}
    <script type="text/javascript">
    </script>
{% endblock extra_js %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h4>Welcome!</h4>
    {% if onboard  %}
            <p>We've been aboard now for {{ days_aboard }} day{{ days_aboard|pluralize }}!</p>
    {% else %}
        <p>We'll be moving aboard in {{ days_aboard }} day{{ days_aboard|pluralize }}!</p>
    {% endif %}
        </div>
    </div>
{% endblock content %}