{% extends 'base.html' %}

{% block content %}

    {% if all_days %}
    <div class="row">
        <div class="col-sm-4">
            <div class="" style="padding-top: 16px;">
        {% if prev_month %}
                <a href="{% url 'wc_month' webcam.slug prev_month.year|stringformat:"04d" prev_month.month|stringformat:"02d" %}" class=""><span class="glyphicon glyphicon-chevron-left"></span> {{ prev_month|date:"M" }}</a>
        {% endif %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="center-block">
                <h3>{{ webcam.name }} <span class="small">{{ cur_month|date:"M Y" }}</span></h3>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="pull-right" style="padding-top: 16px; padding-right: 0px;">
        {% if next_month %}
                <a href="{% url 'wc_month' webcam.slug next_month.year|stringformat:"04d" next_month.month|stringformat:"02d" %}" class="">{{ next_month|date:"M" }} <span class="glyphicon glyphicon-chevron-right"></span></a>
        {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
            <table id="tbl_cal" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
        {% for d in all_days %}
            {% if d.index < 7 %}
            <th style="width:14%; text-align: center">{{ d.day|date:"D" }}</th>
            {% endif %}
        {% endfor %}
                    </tr>
                </thead>
                <tbody>
        {% for d in all_days %}
            {% if d.day.weekday == 6 %}
                {% if d.index > 0 %}
                    </tr>
                {% endif %}
                    <tr id="tbl_calweek_{{ d.index }}" class="">
            {% endif %}
                        <td id="calday_{{ d.index }}" class="">  {# {% if d.count == 0 %}cal-empty{% endif %} #}
                            <div id="ajaxday_{{ d.index }}" style="min-height:84px;">
                            {{ d.day.day }}
            {% if d.stats %}
                {% if d.stats.am_count == 0 %}
                    <br/>
                {% else %}
                    <br/><span class="small" style="margin-left: 8px">{{ d.stats.am_start|date:"h:i" }}
                    {% if d.stats.am_end %}
                        - {{ d.stats.am_end|date:"h:ia" }}
                    {% endif %}
                    </span>
                {% endif %}
                {% if d.stats.pm_count == 0 %}
                    <br/>
                {% else %}
                    <br/><span class="small" style="margin-left: 8px">{{ d.stats.pm_start|date:"h:i" }}
                    {% if d.stats.pm_end %}
                        - {{ d.stats.pm_end|date:"h:ia" }}
                    {% endif %}
                    </span>
                {% endif %}
                {% if d.count > 0 %}
                <br/>&nbsp;&nbsp; <a href="{% url 'adil' webcam.slug d.day.year|stringformat:"04d" d.day.month|stringformat:"02d" d.day.day|stringformat:"02d"%}" class="btn btn-xs btn-primary">{{ d.count }} image{{ d.count|pluralize }}</a>
                {% endif %}
            {% endif %}
{% comment %}
            {% if d.count > 0 %}
                            {{ d.day.day }}
                {% if d.amf %}
                    <br/><span class="small">{{ d.amf.ts_create|date:"h:i" }}
                    {% if d.aml %}
                        - {{ d.aml.ts_create|date:"h:ia" }}
                    {% endif %}
                    </span>
                {% endif %}
                {% if d.pmf %}
                    <br/><span class="small">{{ d.pmf.ts_create|date:"h:i" }}
                    {% if d.pml %}
                        - {{ d.pml.ts_create|date:"h:ia" }}
                    {% endif %}
                    </span>
                {% endif %}
                            <br/>&nbsp;&nbsp;<a href="{% url 'adil' webcam.slug d.day.year|stringformat:"04d" d.day.month|stringformat:"02d" d.day.day|stringformat:"02d"%}" class="btn btn-xs btn-primary">{{ d.count }} image{{ d.count|pluralize }}</a>
            {% else %}
                {{ d.day.day }}
            {% endif %}
{% endcomment %}
                            </div>
                        </td>
        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-1">
        </div>
    </div>
    {% else %}
        <div class="row">
            <div class="col-sm-3">
                <h3>{{ webcam.name }}</h3>
                <p>{{ total_snaps }} total image{{ total_snaps|pluralize }} </p>
                <p><a href="{% url 'adil' webcam.slug now.year|stringformat:"04d" now.month|stringformat:"02d" now.day|stringformat:"02d"%}">Today's images</a></p>
            {% if months %}
                <h4>Previous months</h4>
                {% for mth in months %}
                    {% if now.month == mth.month and now.year == mth.year %}
                    {% else %}
                    <p><a href="{% url 'wc_month' webcam.slug mth.year|stringformat:"04d" mth.month|stringformat:"02d"%}">{{ mth|date:"F Y" }}</a></p>
                    {% endif %}
                {% endfor %}
            {% endif %}
{% comment %}
        {% if scheduled_on %}
                <p>Scheduled on every day
            {% for s in scheduled_on %}
                {% if forloop.counter0 > 0 %}
                and
                {% endif %}
            from {{ s.start|slice:":5" }} to {{ s.stop|slice:":5" }}
            {% endfor %}
                </p>
        {% endif %}
        {% if scheduled_off %}
                <p>Scheduled off every day
            {% for s in scheduled_off %}
                {% if forloop.counter0 > 0 %}
                and
                {% endif %}
            from {{ s.start|slice:":5" }} to {{ s.stop|slice:":5" }}
            {% endfor %}
                </p>
        {% endif %}
{% endcomment %}
            </div>
            <div class="col-sm-9">
        {% if latest_snap %}
                <img src="{{ latest_snap.image_url }}" class="img img-responsive" title="{{ latest_snap.ts_create|date:"M j, Y h:iA" }}" alt="{{ latest_snap.ts_create|date:"M j, Y h:iA" }}"/>
        {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block extra_css %}
    {{ block.super }}
    <style type="text/css">
        .cal-hdr {
            min-height: 24px;
{#            float: left;#}
{#            border-left:1px solid #222;#}
{#            padding: 4px;#}
        }
        .cal-day {
            min-height: 48px;
{#            padding: 4px;#}
        }

        .brdr-br {
            border-bottom:1px solid #222;
            border-right:1px solid #222;
        }

        .brdr-t {
            border-top: 1px solid #222;
        }

        .brdr-l {
            border-left: 1px solid #222;
        }

        .cal-empty {
            background-color: #aaaaaa;
{#            padding: 4px;#}
        }
        .cal-week {
{#            max-width: 336px;#}
            clear: both;
        }
        .loading {
            background-color: #aaaaaa;
        }
    </style>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        function load_day(elid, urlIn) {
            $.ajax({
                type: "GET",
                url: urlIn,
                success: function(resp) {
                    $("#"+elid).removeClass('loading');
                    $("#"+elid).html(resp);
                }
            });
        }
    </script>
{% endblock %}

{% block jquery_on_doc_ready %}
{% comment %}
    {% for d in all_days %}
        {% if d.count > 0 and d.day.month == cur_month.month and d.day.year == cur_month.year %}
        $("#ajaxday_{{ d.index }}").addClass('loading');
        load_day("ajaxday_{{ d.index }}", "{% url 'wc_day' webcam.slug d.day.year|stringformat:"04d" d.day.month|stringformat:"02d" d.day.day|stringformat:"02d"%}");
        {% endif %}
    {% endfor %}
{% endcomment %}
{% endblock %}