{% extends 'base.html' %}

{% block content %}

    {% if all_days %}
    <div class="row">
        <div class="col-sm-4">
            <div class="" style="padding-top: 16px;">
        {% if prev_month %}
                <a href="{% url 'wc_month' webcam.slug prev_month.year|stringformat:"04d" prev_month.month|stringformat:"02d" %}" class=""><span class="glyphicon glyphicon-chevron-left"></span> {{ prev_month|date:"M" }}</a>
        {% endif %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="center-block">
                <h3>{{ webcam.name }} <span class="small">{{ now|date:"M Y" }}</span></h3>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="pull-right" style="padding-top: 16px; padding-right: 0px;">
        {% if next_month %}
                <a href="{% url 'wc_month' webcam.slug next_month.year|stringformat:"04d" next_month.month|stringformat:"02d" %}" class="">{{ next_month|date:"M" }} <span class="glyphicon glyphicon-chevron-right"></span></a>
        {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
            <table id="tbl_cal" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
        {% for d in all_days %}
            {% if forloop.counter0 < 7 %}
            <th style="width:14%; text-align: center">{{ d.day|date:"D" }}</th>
            {% endif %}
        {% endfor %}
                    </tr>
                </thead>
                <tbody>
        {% for d in all_days %}
            {% if d.day.weekday == 6 %}
                {% if forloop.counter0 > 0 %}
                    </tr>
                {% endif %}
                    <tr id="tbl_calweek_{{ forloop.counter0 }}" class="">
            {% endif %}
                        <td id="calday_{{ forloop.counter0 }}" class="">  {# {% if d.count == 0 %}cal-empty{% endif %} #}
                            <div style="min-height:84px;">
            {% if d.count > 0 %}
                            {{ d.day.day }}
                {% if d.amf %}
                    <br/><span class="small">{{ d.amf.ts_create|date:"h:i" }}
                    {% if d.aml %}
                        - {{ d.aml.ts_create|date:"h:ia" }}
                    {% endif %}
                    </span>
                {% endif %}
                {% if d.pmf %}
                    <br/><span class="small">{{ d.pmf.ts_create|date:"h:i" }}
                    {% if d.pml %}
                        - {{ d.pml.ts_create|date:"h:ia" }}
                    {% endif %}
                    </span>
                {% endif %}
                            <br/>&nbsp;&nbsp;<a href="{% url 'adil' webcam.slug d.day.year|stringformat:"04d" d.day.month|stringformat:"02d" d.day.day|stringformat:"02d"%}" class="btn btn-xs btn-primary">{{ d.count }} image{{ d.count|pluralize }}<a>
            {% else %}
                {{ d.day.day }}
            {% endif %}
                            </div>
                        </td>
        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-1">
        </div>
    </div>
    {% else %}
        <div class="row">
            <div class="col-sm-12">
                <h3>{{ webcam.name }}</h3>
                <p><a href="{% url 'adil' webcam.slug now.year|stringformat:"04d" now.month|stringformat:"02d" now.day|stringformat:"02d"%}">Today's images</a></p>
        {% if scheduled_on %}
                <p>Scheduled on every day
            {% for s in scheduled_on %}
                {% if forloop.counter0 > 0 %}
                and
                {% endif %}
            from {{ s.start|slice:":5" }} to {{ s.stop|slice:":5" }}
            {% endfor %}
                </p>
        {% endif %}
        {% if scheduled_off %}
                <p>Scheduled off every day
            {% for s in scheduled_off %}
                {% if forloop.counter0 > 0 %}
                and
                {% endif %}
            from {{ s.start|slice:":5" }} to {{ s.stop|slice:":5" }}
            {% endfor %}
                </p>
        {% endif %}
{% comment %}
        {% if rht %}
                <p>
                As of {{ rht.reading_time }} the temperature is {{ rht.temperature }} and the relative humidity is {{ rht.humidity }}%.
                </p>
        {% endif %}
{% endcomment %}
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block extra_css %}
    {{ block.super }}
    <style type="text/css">
        .cal-hdr {
            min-height: 24px;
{#            float: left;#}
{#            border-left:1px solid #222;#}
{#            padding: 4px;#}
        }
        .cal-day {
            min-height: 48px;
{#            padding: 4px;#}
        }

        .brdr-br {
            border-bottom:1px solid #222;
            border-right:1px solid #222;
        }

        .brdr-t {
            border-top: 1px solid #222;
        }

        .brdr-l {
            border-left: 1px solid #222;
        }

        .cal-empty {
            background-color: #aaaaaa;
{#            padding: 4px;#}
        }
        .cal-week {
{#            max-width: 336px;#}
            clear: both;
        }
    </style>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
    </script>
{% endblock %}

{% block jquery_on_doc_ready %}
{% endblock %}